<h1>Hi username </h1>

<ol>
<% @courses.each do |course| %>
  <li> <%= link_to course.name, course_path(course.id) %> </li>
<%end %>
</ol>

<h2>Let's add a course</h2>
<%= link_to 'add course', new_course_path %>



